.menu2 {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 170px;
    padding: 20px;
    width: 480px;
    margin-top: 200px;
}

.containerI{
  width: 600px;
}